
html {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* set background image per page */
.login-bg {
background: url(nepal.jpeg)no-repeat center center fixed;
height:100%;
background-size:cover;

}
.start-bg {
background: url(everest.jpg) no-repeat center center fixed;
height:100%;
background-size:cover;


}
.regester-bg {
background: url(roshan.jpg)no-repeat center center fixed;
height:100%;
background-size:cover;

}
.MainPage-bg {
background: url(roshan3.jpg)no-repeat center center fixed;
height:100%;
background-size:cover;

}
.AddressPage-bg {
background: url(nepal.jpeg)no-repeat center center fixed;
height:100%;
background-size:cover;

}
.ContactMe-bg {
background: url(nepal.jpeg)no-repeat center center fixed;
height:100%;
background-size:cover;

}


marquee {
border-radius:5em;
 height: 60px;	
 overflow: hidden;
 position: relative;
 background: red;
border: solid;
color:orange;
margin:100px;
text-align:center;
font-style: italic;
font-weight:bold;
font-size:3em;
}
h1.he,h2.he{
border: solid;
color:black;
margin:100px;
text-align:center;
font-style: italic;

}
.info{
background-color:orange;
margin:10px;
}
p.text{
color:black;
font-weight:bold;
font-style: italic;
}
div{
text-align:center;
font-weignt:bold;
font-size:30px;
}
button{

 background-color:red;
color:white;
font-weight:bold;
border:none;
padding: 15px 32px;
font-size: 20px;
margin:.19em;
border-radius:5em;
width:25%;
cursor:pointer;
text-align:center;
}
.login-form h1 {
  font-weight:bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  color:orange;
}

.form-group {
  float:left;
  width: 100%;
  margin: 10 0 15px;
  position:relative;
}
.login-form {

    background:green;
    width: 450px;
    border-radius: 6px;
    margin: 0 auto;
    display: table;
    padding: 15px 30px 30px;
    box-sizing: border-box;
    border-radius:1em;
  
}
.login-form input {
    width: 100%;
    padding: 5px;
    height: 56px;
    border-radius: 74px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    padding-left: 75px;

}
.login-form .login-btn {
  background: #45aba6;
  padding: 11px 50px;
  border-color: #45aba6;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  border: 1px solid #45aba6;
  border-radius: 44px;
  width: 100%;
  height: 56px;
  cursor: pointer;
  color:black;
}
.login-form .reset-psw {
  float: left;
  width: 100%;
  text-decoration: none;
  color: #45aba6;
  font-size: 14px;
  text-align: center;
  color:black;
  margin-top: 11px;

}
.login-form button:hover{
  opacity: 0.9;
}
.login-form .seperator {
  float: left;
  width: 100%;
  border-top: 1px solid #ccc;
  text-align: center;
  margin: 50px 0 0;
}

.login-form p {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 0 0 10px;
}
fieldset
{
    background-color:gray;
    max-width:450px;
     padding: 15px 30px 30px;	
    width: 450px;
    border-radius: 6px;
    box-sizing: border-box;
    color:blue;

}
.legend1
{
  margin-bottom:0px;
  margin-left:16px;
  font-weight:bold;
  color:blue;
}
input,textarea{
width:55%%;
padding:.5em;
margin-bottom:1em;
border:1px solid gray;
border-radius:.50em;

}

input[type="reset"]{
background-color:blue;
color:white;
font-weight:bold;
border:none;
margin:.5em;
border-radius:5em;
display:block;
width:30%;
cursor:pointer;
text-align:center;
margin-left:-5px;
margin-top:-35px;
float:left;
}

.hero{
    width: 100%;
    height: 100vh;
    
    background-size: cover;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;

}
#logo{
float:left;
height: 80px;
}

.menubar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding: 1px;
    background-color: #05364D;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menubar ul{
    list-style: none;
    color: blue;
    display: inline-flex;
  
}
.menubar ul li{
 list-style: none;
    display: inline-block;
    padding: 10px 20px;

}
.menubar ul li a{
    color: Green;
    position: relative;
    padding: 5px 0;
}
 .menubar ul li:hover{
    background-color:#134c66;
    border-radius:5px;
}
.submenu-Hobbies{
    display:none;
    }
.menubar ul li:hover .submenu-Hobbies{
    display:block;
    position:absolute;
    background:#05364D;
    margin-top:14px;
    margin-left:-14px;
}
.menubar ul li:hover .submenu-Hobbies ul{
    display:block;
    margin:10px;
}
.menubar ul li:hover .submenu-Hobbies ul li{
    width:130px;
display:block;
    padding:10px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}
.menubar ul li:hover .submenu-Hobbies ul li:last-child{
    border-bottom: none;
}
/* CSS for submenus */

.submenu-Hobbies-1{
    display: none;
}
.submenu-Hobbies-2{
    display: none;
}
.click-me:hover .submenu-Hobbies-1{
    position:absolute;
    display: block;
    margin-top:-30px;
    margin-left: 130px;
    background: #05364D;
}
.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
}
.btn:hover{
    background: transparent;
    border-color: #fd4766;
    color: green;
}
.material-icons{
    float: right;
}
.content{
    position: relative;
    top: 35%;
    left: 8%;
}
.content .title{
    text-align:right;
    color:red;
    font-size: 15px;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
   text-align:left;
    color:blue;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #fd4766;
}
.content p{
    width: 55%;
   color: #1f1f25
    margin-top: 25px;
    margin-bottom: 30px;
 background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-body{
text-align: center;
}
section{
    padding: 5em 2em;
}
.subheading{
    text-transform: uppercase;
    font-weight: bold;
    color:gray;
    letter-spacing: .3em;
}
.main-slog{
    font-size:2.5em;
    line-height: 1.5em;
    margin-top:.2em;
}
.primary-post{
background:#007AF3;
color:white;
text-decoration: none;
padding:.5em .8em;
font-size: 1.4em;
border-radius: 5em;
font-weight: bold;
display:inline-block
}
.dest-section{
    background:#20272E;
    color:white;
    position: relative;
}
.dest-section1{
    background:#20272E;
    color:white;
    position: relative;
}
.dest-section2{
    background:#20272E;
    color:white;
    position: relative;
}
.dest-section ul{
    list-style: none;
    margin:0;
    padding-left: 5em;
    display: block;

}
.dest-section ul li{
    font-size: 0.5em;
    margin-bottom: 1em;
    margin-left: -40em;
}
.dest-section img{
    display: block;
    position:absolute;
    right:45px;
    width: 350px;
    bottom:0.9em;
}
.testimo{
    background:#007AF3;
    color: white;
}
.testimo ul{
    display: flex;
}
.testimo ul li{
    background:#0271e0;
    text-align: center;
    list-style: none;
    padding:2em 1em;
    width: 80%;
    margin:0 1em;
    border-radius:1em;
}
.testimo ul li img{
    width: 5em;
    height: 5em;
    border:5px solid #0271e0;
    border-radius:50%;
    margin-top:-4.5em;
}
.legend2
{

  margin-bottom:0px;
  margin-right:36px;
  font-weight:bold;
  color:blue;
}
.new2
{
    background-color:#CCC;
    max-width:950px;
     padding: 65px 30px 30px;	
    width: 480px;
    border-radius: 6px;
    box-sizing: border-box;
    color:blue;

}
input[type="submit"]{
background-color:blue;
color:white;
font-weight:bold;
border:none;
margin:.5em;
border-radius:5em;
display:block;
width:40%;
cursor:pointer;
text-align:center;
margin-left:120px;
float:centre;
}


.aside {
      width: 34%;
      float: right;
      background-color: lightgray;
      color: red;
      padding: 16px;
      margin-right: 24px;
      height: 110px;
      border-radius:5em;
}
.asidep{
text-align:centre;
font-size:20px;
font-color:red;
 background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
.footer {
  bottom:0;
  left:0;
  width:100%;
height:20px;
font-size:10px;
  background-color: #D0DAEE;
}

